<header>
  <div class="navbar">
    <div class="navbar-inner">
      <i (click)="onClick()">
        <div class="sandwich"></div>
        <div class="sandwich"></div>
        <div class="sandwich"></div>
      </i>
      <!-- <div class="navbar-item">Meet the Team</div>
      <div class="navbar-item">Listings</div>
      <div class="navbar-item">Hire Me</div> -->
      <h1 class="title">YashTheRealtor | Century21</h1>
    </div>

  </div>

  <!--div class="navbar">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
    <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
  </div-->
</header>

<div class="container">
  <app-home [slides]="slides"></app-home>
</div>

<footer>Copyright, me</footer>
